.App {
  text-align: center;
}

body{
  background-color: blueviolet;
}
h1{
  color: white;
  font-size: 3em;
}

input{
  padding: 10px 20px;
}

button{
  padding: 10px 30px;
  margin-left: 10px;
  cursor: pointer;
  color: rgb(0, 0, 0);
}

p{
  color: white;
}

li{
  color: white;
}